---
layout: default
---

<img class="profile-img" src="../assets/my_pic.png"></img>
<h1 class="post-title">{{ page.title }}</h1>
<div class="post-line"></div>
<p class="post-info">{{ site.description}}</p>

<div class="social-links">

  <a class="link" data-title="github.com/goutham-nekkalapu" href="https://github.com/goutham-nekkalapu" target="_blank">
    <i class="fab fa-github-square fab-custom-size"></i>
    <a class="link" data-title="linkedin.com/gouthamnekkalapu/" href="https://www.linkedin.com/in/gouthamnekkalapu/"
      target="_blank">
      <i class="fab fa-linkedin fab-custom-size"></i>
    </a>
    <a class="link" data-title="goutham.nekkalappu@gmail.com" href="mailto:goutham.nekkalapu@gmail.com">
      <i class="fas fa-envelope fab-custom-size"></i>
    </a>
    <a class="link" data-title="goodreads.com/gouthi" href="https://www.goodreads.com/user/show/84910697-gouthi">
      <i class="fab fa-goodreads fab-custom-size"></i>
    </a>
</div>
<!-- <pre>
  site: {{ site | jsonify | escape }}
  page: {{ page | jsonify | escape }}
  layout: {{ layout | jsonify | escape }}
  content: {{ content | jsonify | escape }}
  paginator: {{ paginator | jsonify | escape }}
</pre> -->